img {
  width: 50%;
  padding: auto;
}

body {
  background-image: url(/images/rogers.jpeg);
  margin-left: 15%;
  margin-right: 15%;
  border: 10px solid orange;

}

h1 {
  background-color: white;
  text-align: center;
}

p {
  background-color: white;
  padding: auto;
  text-align: center;
}

div {
  background-color: white;
  width: auto;
  padding: 5px;
}

.hidden {
  display: none;
}